@import "src/styles/variables";

.Header {
  padding: $small-font-size $large-spacing;

  @media (max-width: 768px) {
    padding: $medium-spacing $extra-small-spacing;
  }

  &-timedate {
    line-height: $large-font-size;
    font-size: $small-font-size;
    font-weight: bold;
  }
}

